
{% extends "main.html" %}
{% block content %}

<div class="row top-service">
  <div class="col-md-6">
    <a href="{{url_for('showhospital')}}">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All hospital
    </a>
  </div>
</div>


  <div class="row divider blue">
    <div class="col-md-12"></div>
  </div>
  <div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
      <h1>Log in</h1>
    </div>
  </div>

  <div class = 'flash'>
          {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

  </div>


  
  <div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
      
    </div>
    <div class="col-md-1"></div>
  </div>


<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '5900653387-0ndrv0b2i51ckrf5fd18qrvrs9g3pf2u.apps.googleusercontent.com'
      });
    });
  }
</script>

</head>


<body>

<button id="signinButton">Google Signin</button>
<div id="result"></div>

<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>

</body>

<!--END GOOGLE PLUS SIGN IN -->
{% endblock %}
